.overlay{
  background: rgba(0,0,0,0.5);
  position: absolute;
  width: 100vw;
  height:100vh;
  z-index:998;
  top:0;
  left: 0;
  overflow: auto;
}

.parent {
  height:100vh;
  position: sticky;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index:999;
  /*inner text*/
  .child {
    font-size: 1.4rem;
    color: #fff;
  }


}
/*spinner*/

.rings {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 6px solid rgba(0,255,0,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

  @keyframes rings-spinner {
    0% {
      transform: scale(0.95) rotate(0deg);
    }
    15% {
      transform: scale(1.1) rotate(90deg);
    }
    60% {
      transform: scale(0.95) rotate(180deg);
    }
    100% {
      transform: scale(0.9) rotate(360deg);
    }
  }







