<form [formGroup]="searchPlantForm" (ngSubmit)="filterResult()">
  <div class="controlContainer">
    <div class="controls">
      <label id="first">Season</label>
      <mat-radio-group
        aria-labelledby="first"
        class="filter-radio-group"
        formControlName="bloom_time">
        <mat-radio-button class="filter-radio-button" *ngFor="let season of seasons" [value]="season" >
          {{season}}
        </mat-radio-button>
        <mat-error *ngIf="f.bloom_time.errors && !f.error">
          Please select season
        </mat-error>

      </mat-radio-group>
    </div>
    <div class="controls">
      <label id="second">Types</label>
      <mat-radio-group
        aria-labelledby="first"
        class="filter-radio-group"
        formControlName="plant_type">
        <mat-radio-button class="filter-radio-button" *ngFor="let type of types" [value]="type" >
          {{type}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="controls">
      <label id="third">Location</label>
      <mat-radio-group
        aria-labelledby="first"
        class="filter-radio-group"
        formControlName="appropriate_location">
        <mat-radio-button class="filter-radio-button" *ngFor="let location of locations" [value]="location" >
          {{location}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="controls">
      <label id="fourth">Value</label>
      <mat-radio-group
        aria-labelledby="first"
        class="filter-radio-group"
        formControlName="habitat_value">
        <mat-radio-button class="filter-radio-button" *ngFor="let value of values" [value]="value" >
          {{value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="controls">
      <div class="controlContainer buttons">
        <button mat-raised-button  type="button" (click)="resetList()">Reset</button>
        <button mat-raised-button type="submit">Filter</button>
      </div>

    </div>
  </div>

</form>

<app-table [data]="plantsList" [displayedColumns]="displayedColumns" [filteredData]="this.filterColumn(this.searchPlantForm.value)"></app-table>
