<form [formGroup]="searchPlantForm" (ngSubmit)="filterResult()">
  <div class="row">
    <div class="col-md-3">
      <label id="first">Season</label>
      <mat-radio-group
        aria-labelledby="first"
        class="filter-radio-group"
        formControlName="bloom_time">
        <mat-radio-button class="filter-radio-button" *ngFor="let season of seasons" [value]="season" >
          {{season}}
        </mat-radio-button>
        <mat-error *ngIf="f.bloom_time.errors && !f.error">
          Please select season
        </mat-error>

      </mat-radio-group>
    </div>
    <div class="col-md-3">
      <label id="second">Types</label>
      <mat-radio-group
        aria-labelledby="first"
        class="filter-radio-group"
        formControlName="plant_type">
        <mat-radio-button class="filter-radio-button" *ngFor="let type of types" [value]="type" >
          {{type}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-md-3">
      <label id="third">Location</label>
      <mat-radio-group
        aria-labelledby="first"
        class="filter-radio-group"
        formControlName="appropriate_location">
        <mat-radio-button class="filter-radio-button" *ngFor="let location of locations" [value]="location" >
          {{location}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-md-3">
      <label id="fourth">Value</label>
      <mat-radio-group
        aria-labelledby="first"
        class="filter-radio-group"
        formControlName="habitat_value">
        <mat-radio-button class="filter-radio-button" *ngFor="let value of values" [value]="value" >
          {{value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>


<div class="row around-sm">
  <button mat-raised-button class="col-md-5" type="button" (click)="resetList()">Reset</button>
  <button mat-raised-button class="col-md-5" type="submit">Filter</button>
</div>

</form>

<table mat-table [dataSource]="plantsTempList" class="mat-elevation-z8" >
  <caption *ngIf="showError">{{errorMessage}}</caption>

  <ng-container matColumnDef="common_name">
    <th (click)="sortColumn()" id="common_name" mat-header-cell *matHeaderCellDef >
      Common name
      <mat-icon>
        {{sortOrder ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
      </mat-icon>
    </th>
    <td mat-cell *matCellDef="let element" > {{element.common_name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr (click)="openModal(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

