.mat-cell {
  padding: 9px;
}

.headerCell {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 500;
}

.rowCell {
  font-size: 14px;
}

.scroller {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  padding: 8px;
}

tr:nth-child(even) {
  color: #e0e2f4 !important;
  background-color: #338a3e
}
