@import "scss/material";
@import "scss/error";
@import "~@angular/cdk/overlay-prebuilt.css";
@import "~@angular/cdk/overlay";
@include cdk-overlay();


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table {
  width: 100%;
}
.main{
  padding: 2.5%;
}
.filter-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.filter-radio-button {
  margin: 5px;
}

app-default-layout{
  position: absolute;
  top: 0;
  width: 100vw;
}
